<?xml version="1.0" encoding="utf-8"?>
<appearanceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6502.0">
  <frontendThemes>
    <add path="~/App_Data/Sitefinity/WebsiteTemplates/Home/App_Themes/Home" name="Home" />
    <add path="~/App_Data/Sitefinity/WebsiteTemplates/About/App_Themes/About" name="About" />
    <add path="~/App_Data/Sitefinity/WebsiteTemplates/our-operation/App_Themes/our-operation" name="our-operation" />
    <add path="~/App_Data/Sitefinity/WebsiteTemplates/News/App_Themes/News" name="News" />
  </frontendThemes>
</appearanceConfig>