<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6502.0" initialized="True">
	<connectionStrings>
		<add connectionString="data source=localhost\SQLEXPRESS;UID=sitefinity;PWD=Password123;initial catalog=sitefinity_db" name="Sitefinity" />
	</connectionStrings>
</dataConfig>