<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6502.0" authCookieName=".SFAUTH-amnt-web" rolesCookieName=".SFROLES-amnt-web" validationKey="0C41FD685DB2A72B1516CFF0A72AC6ED6F1DE89676481AF9C77EE2B20A697D9785BEE0A170D021538A0B8B1784B2EBA267AFC553FC062006294AD539DEC05C4B" decryptionKey="C99ED1F88A288350D65524E0FE193B26FF810AD8A3EACD7624D73FEBAA8EDBE5" loggingCookieName=".SFLOG-amnt-web">
	<securityTokenIssuers>
		<add key="CFA39460B8055308E1A78234C7E50B00DF0702542C60111AE161B70176E8275D" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="CFA39460B8055308E1A78234C7E50B00DF0702542C60111AE161B70176E8275D" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="45a8884a-e885-4305-ae10-ec8e5e89289d" name="Everyone" config:flags="1" />
		<role id="87a5680b-71bc-49ad-97a1-4ac2f975b42a" name="Anonymous" config:flags="1" />
		<role id="1b41b41b-e948-4125-9f1d-bce892da5205" name="Authenticated" config:flags="1" />
		<role id="46de0ed4-0b42-4d66-bb10-89a9daecd21f" name="Owner" config:flags="1" />
		<role id="1179c247-d179-4317-b854-b07ab20b22fb" name="Administrators" config:flags="1" />
		<role id="531f1186-a9b9-4f85-8549-08705efacc4d" name="BackendUsers" config:flags="1" />
		<role id="2f9f4fd2-00a5-4d51-8229-eb1979a1e121" name="Authors" config:flags="1" />
		<role id="9460d08c-8a2a-4f67-85e7-6ce1e417a733" name="Editors" config:flags="1" />
		<role id="d72a2848-077f-43f0-8446-fa9ef84a3ab4" name="Designers" config:flags="1" />
		<role id="b3e88f47-bb50-4e9d-8343-58c943c624b6" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>