<?xml version="1.0" encoding="utf-8"?>
<toolboxesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6502.0">
	<toolboxes>
		<toolbox name="PageControls" config:flags="1">
			<sections>
				<add title="AMNT - Our Story" name="AMNT - Our Story">
					<tools>
						<add type="~/Widget/OurStory/AboutUs.ascx" title="About Us" name="AboutUs" />
						<add type="~/Widget/OurStory/Leadership.ascx" title="Leadership" name="Leadership" />
						<add type="~/Widget/OurStory/Shareholders.ascx" title="Shareholders" name="Shareholders" />
						<add type="~/Widget/OurStory/Values.ascx" title="Values" name="Values" />
						<add type="~/Widget/OurStory/BusinessDirection.ascx" title="Bussines DIrection" name="BussinesDirection" />
					</tools>
				</add>
			</sections>
		</toolbox>
	</toolboxes>
</toolboxesConfig>